@font-face {
    font-family: "Oxygen";
    src: url("assets/oxygen-regular.ttf");
}

@font-face {
    font-family: "Cousine";
    src: url("assets/cousine-regular.ttf");
}

:root {
    font-family: "Oxygen", sans-serif;
    font-size: 20px;
    color: #101010;
    --standard-border-radius: 0.2rem;
    --message-padding: 0.2rem;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    overflow: hidden;
    user-select: none;
}

/* --------------------------------------------------- */

.main-container {
    position: relative;
    width: 100%;
    height: 100%;
    overflow: hidden;
}

.content-container {
    position: relative;
    width: 10000px;
    height: 10000px;
}

.content-container .background {
    position: relative;
    width: 100%;
    height: 100%;
    background-color: rgb(58, 58, 65);
    background-image: url("assets/grid.png");
    background-size: 5rem;
    cursor: grab;
}

.svg-container {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    pointer-events: none;
}

.header-container {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 1rem;
    background-color: #33333a;
    box-shadow: 0 0.2rem 0.5rem -0.06rem #00000069;
    z-index: 10;
}

.footer-container {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 1rem;
    background-color: #33333a;
    box-shadow: 0 -0.2rem 0.5rem -0.06rem #00000069;
    z-index: 10;
}

/* ----------------------- */

.notification-container {
    position: absolute;
    top: 0;
    right: 0;
    width: 100%;
    height: 100%;
    pointer-events: none;
}

.notification {
    position: absolute;
    height: 1.4rem;
    border-radius: 1rem;
    display: flex;
    opacity: 1;
    transition: opacity 0.5s;
}

.notification.closing {
    opacity: 0;
}

.notification span {
    padding-left: 0.4rem;
    padding-right: 0.6rem;
    font-weight: 600;
    color: #282828;
}

.notification div {
    width: 1.4rem;
    height: 1.4rem;
    padding: 0.3rem;
    border-radius: 1rem;
}

.notification div img {
    width: 0.8rem;
    height: 0.8rem;
    object-fit: contain;
}

.notification.error {
    background-color: #ff7c7c;
}

.notification.error div {
    background-color: #ff3f3f;
}

.notification.error div img {
    content: url("assets/error.png");
}

.notification.warning {
    background-color: #ffc259;
}

.notification.warning div {
    background-color: #e8a229;
}

.notification.warning div img {
    content: url("assets/warning.png");
}

.notification.info {
    background-color: #7caeff;
}

.notification.info div {
    background-color: #4380e3;
}

.notification.info div img {
    content: url("assets/info.png");
}

/* ----------------------- */

.checkbox {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    border-radius: 0.2rem;
    padding: 0.2rem 0.4rem;
    background-color: #757575;
    color: #efefef;
    gap: 0.8rem;
}

/* ----------------------- */

.scrollable-wrapper {
    position: relative;
    width: 100%;
    --bar-height: 0.6rem;
}

.scrollable-wrapper-content {
    overflow: hidden;
}

.scrollable-wrapper-bar {
    position: relative;
    height: var(--bar-height);
    background-color: #cdcdcd;
    overflow: hidden;
}

.scrollable-wrapper-thumb {
    position: absolute;
    background-color: #707070;
    height: var(--bar-height);
    cursor: pointer;
    transition: background-color 0.1s;
}

.scrollable-wrapper-thumb:hover {
    background-color: rgb(144, 144, 144);
}

.scrollable-wrapper-thumb.active {
    background-color: #8f8f8f;
}

/* ----------------------- */

.dropdown {
    position: relative;
    overflow: visible;
}

.dropdown-main {
    border-radius: 0.4rem;
    background-color: #cbcbcb;
    padding: 0.2rem;
    cursor: pointer;
    overflow: visible;
    display: flex;
    flex-direction: row;
    gap: 0.2rem;
    align-items: center;
    justify-content: space-between;
}

.dropdown-main:hover {
    background-color: #cecece;
}

.dropdown.open .dropdown-main {
    border-radius: 0.4rem 0.4rem 0 0;
}

.dropdown-current {
    height: 1rem;
    line-height: 0.9rem;
    flex-shrink: 0;
    overflow: visible;
}

.dropdown-current img {
    height: 1rem;
}

.dropdown-icon-select {
    height: 1rem;
    flex-shrink: 0;
}

.dropdown-options {
    width: 100%;
    position: absolute;
    top: 100%;
    background-color: #bbbbbb;
    flex-direction: column;
    border-radius: 0 0 0.4rem 0.4rem;
    z-index: 20;
}

.dropdown-options div {
    padding: 0.2rem;
    z-index: 20;
    white-space: nowrap;
}

.dropdown-options div:hover {
    background-color: #cccccc;
    cursor: pointer;
}

.dropdown-options img {
    height: 1.2rem;
    margin: auto;
}

.dropdown.no-options .dropdown-main {
    cursor: not-allowed;
    background-color: #b0b0b0;
    border-radius: 0.4rem;
}

.dropdown.no-options .dropdown-main:hover {
    background-color: #b0b0b0;
}

.dropdown.no-options .dropdown-icon-select {
    height: 0.6rem;
}

/* ----------------------- */

/* .panel is plain block with bar and body */
/* .body flex:row with node sidebars and body */
/* - node sidebars act as horizontal padding */

.panel {
    --panel-content-padding: 0.6rem;
    display: inline-block;
    position: absolute;
    background-color: #828282;
    box-shadow: 0 0.2rem 0.7rem -0.2rem #1e1e1e;
    transition: box-shadow 0.15s;
    border-radius: var(--standard-border-radius);
    overflow: visible;
}

.panel:hover {
    box-shadow: 0 0.2rem 1.1rem -0.2rem #151515;
}

.panel-bar {
    --panel-bar-height: 1.8rem;
    width: 100%;
    height: var(--panel-bar-height);
    overflow: hidden;
    border-radius: var(--standard-border-radius) var(--standard-border-radius) 0 0;
    background-color: #e5e5e5;
    box-sizing: border-box;
    cursor: grab;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.panel-bar-title {
    flex-grow: 1;
    border-radius: var(--standard-border-radius) var(--standard-border-radius) 0 0;
    transition: background-color 0.1s;
    text-align: center;
    color: #282828;
    padding: 0.1rem 0.65rem;
    font-size: 1.2rem;
    font-weight: 600;
    line-height: 1.5rem;
}

.panel-bar-title:hover {
    background-color: #fbfbfb;
}

.panel-bar-close {
    width: var(--panel-bar-height);
    height: var(--panel-bar-height);
    border-radius: 0px var(--panel-close-border-radius) 0px 0px;
    transition: background-color 0.1s;
    background-color: #d55e5e;
    cursor: pointer;
    content: url("assets/cross-light.png");
    padding: 0.4rem;
    cursor: pointer;
}

.panel-bar-close:hover {
    background-color: #fa5d5d;
}

.panel-body {
    padding: var(--panel-content-padding);
    position: relative;
    overflow: visible;
}

.panel-content {
    flex-grow: 1;
    border-radius: var(--standard-border-radius);
    overflow: visible;
}

.panel-nodes {
    --indicator-size: 0.7rem;

    position: absolute;
    top: 0;
    width: 0;
    height: 100%;
    overflow: visible;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: start;
    gap: 0.3rem;
}

.panel-nodes.input {
    left: -0.3rem;
}

.panel-nodes.output {
    right: -0.3rem;
}

.panel-node {
    position: relative;
    height: var(--indicator-size);
    overflow: visible;
    cursor: pointer;
}

.panel-node .hover-box {
    position: absolute;
    width: 1.3rem;
    height: 1.3rem;
}

.panel-nodes.input .panel-node .hover-box {
    right: -0.3rem;
    top: -0.3rem;
}

.panel-nodes.output .panel-node .hover-box {
    left: -0.3rem;
    top: -0.3rem;
}

.panel-node .indicator {
    width: var(--indicator-size);
    height: var(--indicator-size);
    border-radius: 0.4rem;
    background-color: rgb(214, 214, 214);
    box-shadow: 0 0 0.3rem 0 #151515d6;
    transition: background-color 0.1s;
    transition: box-shadow 0.1s;
}

.panel-node:hover .indicator,
.panel-node.connecting .indicator {
    background-color: #f7f7f7;
    box-shadow: 0 0 0.7rem 0 #606060d6;
}

.panel-node.invalid .indicator {
    background-color: #ff5b5b;
    box-shadow: 0 0 0.7rem 0 #6d4242d6;
}

.panel-nodes.input .panel-node .indicator {
    position: absolute;
    right: 0rem;
}

.panel-node .label {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    padding: 0.2rem;
    border-radius: 0.3rem;
    background-color: transparent;
    color: transparent;
    white-space: nowrap;
    transition: background-color 0.1s;
    transition: color 0.1s;
}

.panel-node:hover .label {
    background-color: #7c7c7c42;
    color: #d3d3d3;
}

.panel-node.connecting .label {
    background-color: #7c7c7ca6;
    color: #e5e5e5;
}

.panel-node.invalid .label {
    background-color: #a34f4fa6;
    color: #ea9b9b;
}

.panel-nodes.input .panel-node .label {
    text-align: right;
    right: 1rem;
}

.panel-nodes.output .panel-node .label {
    left: 1rem;
}

/* ----------------------- */

.panel-creator {
    position: absolute;
    display: none;
    background-color: #828282;
    border: 0.1rem solid rgba(129, 129, 129, 0.437);
    border-radius: var(--standard-border-radius);
    flex-direction: column;
    gap: 0.4rem;
    padding: 0.4rem;
    width: 7rem;
}

.panel-creator-button {
    height: 1.4rem;
    line-height: 1.4rem;
    background-color: #e5e5e5;
    border-radius: var(--standard-border-radius);
    cursor: pointer;
    text-align: center;
    font-weight: 600;
    color: #282828;
}

.panel-creator-button:hover {
    background-color: #fbfbfb;
}

.panel-creator.visible {
    display: flex;
}

/* ----------------------- */

.main-buttons {
    position: absolute;
    right: 1rem;
    bottom: 2rem;
    display: flex;
    flex-direction: row;
    gap: 0.6rem;
    overflow: visible;
}

.main-buttons div {
    width: 3rem;
    height: 3rem;
    box-shadow: 0 0.2rem 0.5rem -0.06rem #00000069;
    cursor: pointer;
    z-index: 10;
    border-radius: 0.8rem;
    background-color: #676767;
    font-size: 1rem;
    color: #a2a2a2;
    text-align: center;
    font-weight: bold;
    line-height: 3rem;
}

.main-buttons div:hover {
    background-color: #7a7a7a;
}

.main-buttons .add-panel-main-button {
    font-size: 3rem;
    line-height: 2.7rem;
}

/* ----------------------- */

.message-number {
    flex-shrink: 0;
    width: 1.4rem;
    padding: var(--message-padding) 0;
    border-right: 0.1rem solid #d6d6d6;
    color: #5d5d5d;
    text-align: center;
    font-family: "Cousine", monospace;
}

/* ----------------------- */

.messages {
    min-width: 5rem;
    background-color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: fit-content;
}

.messages.empty {
    padding: 0;
    background-color: inherit;
}

.messages .message:not(:last-child) .message-number,
.messages .message:not(:last-child) .message-content {
    padding-bottom: 0;
}

.message {
    display: flex;
    flex-direction: row;
    width: fit-content;
}

.message-content {
    height: fit-content;
    gap: var(--message-padding);
    padding: var(--message-padding);
    display: flex;
    flex-direction: row;
    align-items: center;
}

.message-content span {
    width: 1.2rem;
    height: 1.2rem;
    background-color: #e3e3e3;
    transition: background-color 0.1s;
    border-radius: 0.1rem;
    overflow: hidden;
    white-space: nowrap;
    user-select: text;
    text-align: center;
    align-content: center;
    font-family: "Cousine", monospace;
}

.message-content span:hover {
    background-color: #bdbdbd;
}

/* ----------------------- */

.user-input-panel-content {
    max-width: 30rem;
    height: 100%;
    display: flex;
    flex-direction: column;
    gap: var(--panel-content-padding);
    overflow: visible;
}

.user-input-messages-container {
    min-width: 100%;
    border-radius: var(--standard-border-radius);
    box-shadow: 0 0 5px #0000003d;
    background-color: white;
}

.user-input-messages-list {
    min-width: fit-content;
    width: 100%;
}

.user-input-message {
    display: flex;
    flex-direction: row;
    overflow: visible;
    min-width: fit-content;
    width: 100%;
}

.user-input-message-input {
    padding: var(--message-padding);
    cursor: text;
    flex-grow: 1;
    font-family: "Cousine", monospace;
    word-wrap: break-word;
    word-break: break-word;
    user-select: text;
    white-space: pre;
}

.user-input-message-input div {
    user-select: text;
}

.user-input-message-input:focus {
    outline: none;
}

.user-input-message-remove {
    flex-shrink: 0;
    padding: 0.3rem 0.2rem;
    cursor: pointer;
    display: flex;
}

.user-input-message-remove img {
    width: 0.8rem;
    height: 0.8rem;
    content: url("assets/cross-dark.png");
}

.user-input-message-remove:hover {
    background-color: #ececec;
}

.user-input-options {
    padding: 0.3rem;
    border-radius: var(--standard-border-radius);
    background-color: #5c5c5c;
    display: flex;
    flex-direction: row;
    gap: 0.4rem;
    align-items: center;
    width: fit-content;
    min-width: fit-content;
    color: #dfdfdf;
    box-shadow: 0 0 5px #0000003d;
}

.user-input-add-message {
    width: 1.5rem;
    height: 1.5rem;
    background-color: #d6d6d6;
    cursor: pointer;
    border-radius: var(--standard-border-radius);
    text-align: center;
    font-weight: bold;
    color: black;
    line-height: 1.4rem;
}

.user-input-add-message:hover {
    background-color: #e6e6e6;
}

.user-input-delim {
    padding: 0.3rem;
    background-color: white;
    border-radius: var(--standard-border-radius);
    border: none;
    outline: none;
    width: 1.8rem;
    height: 1.6rem;
    font-family: "Cousine", monospace;
    font-size: 1rem;
}

.user-input-delim:focus {
    outline: none;
}

.user-input-message:not(:last-child) .message-number,
.user-input-message:not(:last-child) .user-input-message-input,
.user-input-message:not(:last-child) .user-input-message-remove {
    padding-bottom: 0;
}

/* ----------------------- */

.split-panel-content {
    min-width: 3rem;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.split-panel-content p {
    font-size: 1.5rem;
    color: #2e2e2e;
}

/* ----------------------- */

.preview-panel-content {
    max-width: 30rem;
    box-shadow: 0 0 5px #0000003d;
    border-radius: var(--standard-border-radius);
}

/* ----------------------- */

.process-panel-content {
    overflow: visible;
    display: flex;
    flex-direction: column;
    gap: 0.4rem;
}
